div.omer{
    border: 5px solid lightblue;
    background-color: lightcyan;
    font-size: 50px;
    margin:5px 50px 5px 50px;

    

    text-align: center;


}
p.omer3{
    margin:5px 50px 5px 50px;
}
p.omer1{
    margin: 5px 50px 5px 50px;
}
p.omer2{
    margin:5px 50px 5px 50px ;
}
h3#Contact{
    margin:5px 50px 5px 50px ;

}
h3#About{
    
    margin:5px 50px 5px 50px ;

}
h3#More{
    
    margin:5px 50px 5px 50px ;
}



   


    



