h1.omer{
    background-color: coral;
    border: 5px solid black;
    padding: 15px;
    border-radius: 20px;
    font-size: 60px;
}
p.omer1{
 background-color: cyan;
 font-size: 40px;
}
p.omer2{
    background-color: cyan;
 font-size: 40px;

}
p.omer3{
    background-color: cyan;
 font-size: 40px;

}
p.omer4{
    
 font-size: 50px;

}